.displayFlex {
  display: flex;
  flex-direction: row;
}

.center {
  text-align: center;
  align-items: center;
}

.loginBtn {
  background: #fcb900;
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: medium;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}

.signUpBtn {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.blogsBtn {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
}

.footerBtn {
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  margin-left: 20px;
  text-decoration: none;
}

li {
  padding: 7px;
}